* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

.active-route {
  text-decoration: overline;
}